.VisualUI {
  flex-grow: 1;
  font-size: 12px;
}

.react-flow__node-main {
  background-color: #556677;
}

.react-flow__node {
  min-width: 200px;
  min-height: 50px;
  background-color: white;
  border: 1px solid #bdc2c6;
  box-shadow: 0px 10px 6px -7px #bdc2c6;
  border-radius: 8px;
}

/* ------- React-Flow Handle style ------------ */
.react-flow__handle {
  background-color: #bfc4c8;
  min-width: 10px;
  min-height: 10px;
}

.react-flow__handle-right {
  right: -1px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.react-flow__handle-left {
  left: -3px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* ------------------------------- */

/* -------------- Custom Node Style -----------*/
.node_title {
  font-size: 14px;
  text-transform: capitalize;
  margin: 4px 4px 8px 4px;
}

.node_body {
  padding: 4px 4px 8px 4px;
}
/* ------------------------------------ */
